<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.4">

    <id>communication</id>
    <name>Communication</name>
    <version>1.0.0-SNAPSHOT</version>
    <description>Provides communication services like sending mail</description>
    <package>org.bahmni.module.communication</package>
    <author>Bahmni</author>

    <activator>org.bahmni.module.communication.CommunicationActivator</activator>

    <require_modules>
        <require_module>org.openmrs.module.webservices.rest</require_module>
    </require_modules>

</module>