<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.6.dtd">

<module configVersion="1.6">

    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <description>${project.parent.description}</description>
    <package>org.bahmni.module.${project.parent.artifactId}</package>
    <author>Bahmni</author>

    <activator>org.bahmni.module.${project.parent.artifactId}.CommunicationActivator</activator>

    <require_version>1.11.6</require_version>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>

    <!-- AOP -->
    <!-- Required Privileges -->
    <privilege>
        <name>Send Email</name>
        <description>Will give access to send email</description>
    </privilege>

</module>
